{% extends 'base.html' %}

    {% block title %}Last Work{% endblock %}

    {% block content %}
        {% if user.get_full_name %}
        <h2>Hello {{ user.get_full_name }}! </h2> <!-- user.get_full_name -->
        {% else %}
        <h2>Hello! </h2> <h4>Please <a href="#">login</a> to track your personal progress</h4>
        {% endif %}

        {% if project_list %}
        <h4 style="horiz-align: center">Here are some of the tasks available:</h4><br>
        <div class="list-group">
            {% for a in project_list %}

                <a href="{{a.project_number}}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"><b>{{a.project_title}}</b>
{#                    {% for x in a.release_set.get_queryset %} WORKS!!! {{ x.release_title }} #}
                    <span class="badge badge-primary badge-pill">{{ a.release_set.count }}</span>
{#                    {% endfor %}#}
{#                {% url 'app:projects' a.project_number %}#}
                </a>

            {% endfor %}
        </div>
        {% else %}
            Nothing here yet, but it is coming soon....
        {% endif %}
{#{% load static %}#}
{#<img src="{% static "g0tt2sic.bmp" %}" alt="My image">#}
{#<p>{{ project_list }}</p>#}
{#        {% for a in release_quantity %}#}
{#            <p>{{a.project}}</p>#}
{##}
{#        {% endfor %}#}
{#<p>{{ release_quantity }}</p>#}
{% endblock %}
