{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <form method="POST" class="container-sm">
        {% csrf_token %}
        {% if user.get_full_name %}
            <p>You have already logged in as <strong>{{ user.get_full_name }}</strong>, however you can login with
                different account or just <a href="{% url 'app:logout' %}">logout</a>
                {#            <form method="post">#}
                {#                <button name="logout" value="True" type="submit" class="btn btn-primary">Log out</button>#}
                {#            </form>#}
            </p>
        {% else %}
            <p><b>Registration</b> is closed, for security reason, only MillerClapperton staff may have the access. <br>
                If you are one of MillerClapperton's, and you still don't have it or you want to recover/change your password, please
                contact with
                <a href="mailto:vturkevych@millerclapperton.com">Vitalii Turkevych</a>
                to create/change it.</p>
        {% endif %}

        <div class="form-group">
            <label for="InputLogin">Login</label>
            <input type="text" class="form-control" id="InputLogin" name="username">
        </div>
        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input type="password" class="form-control" id="InputPassword" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>


{% endblock %}