{% extends 'base.html' %}

{% block container_type %}fluid{% endblock %}

{% block title %}Task Management{% endblock %}

{% block content %}
    <h1 class="shadowed">Task management page</h1>

    <div class="overflow-auto">
        <table class="table table-striped  table-bordered">
            <thead class="thead-dark">
            {% for i in heads %}
                <th>{{ i }}</th>
            {% endfor %}
            </thead>
{#            FIXME: Problem in Models.py DB conflict#}

            <tbody>
            {% for task in tasks %}

                <tr>
                <td>task</td>
{#                    <td title="{{ task.release.project.project_title }}">{{ task.release.project.project_number }} {{ task.release.project.project_title }}</td>#}
{#                    <td>{{ task.release.release_title }}</td>#}
{#                    <td>{{ task.project_manager }}</td>#}
{#                    <td class="column-width">{{ task.loose_items }}</td>#}
{#                    <td class="column-width">{{ task.outsource_paint }}</td>#}
{#                    <td class="column-width">{{ task.release.panel_set.count }}</td>#}
{#                    <td class="column-width">{{ task.zee_hats_angels }}</td>#}
{#                    <td class="column-width">{{ task.flashing }}</td>#}
{#                    <td class="column-width">{{ task.coping }}</td>#}
{#                    <td class="column-width">{{ task.splice_plate }}</td>#}
{#                    <td class="column-width">{{ task.blade_screen }}</td>#}
{#                    <td class="column-width">{{ task.perf }}</td>#}
{#                    <td class="column-width">{{ task.plate_panels }}</td>#}
{#                    <td class="column-width">{{ task.frames }}</td>#}
{#                    <td class="column-width">{{ task.strapping }}</td>#}
{#                    <td class="column-width">{{ task.clips }}</td>#}
{#                    <td class="column-width">{{ task.misc }}</td>#}
{#                    <td class="column-width">{{ task.est_mh }}</td>#}
{#                    <td>{{ task.rel_date }}</td>#}
{#                    <td>{{ task.requested_ship_date }}</td>#}
{#                    <td>{{ task.shipped_date }}</td>#}
{#                    <td></td>#}
{#                    <td>{{ task.status }}</td>#}
{#                    <td>{{ task.shipped_to_location }}</td>#}
{#                    <td>{{ task.remarks }}</td>#}

                </tr>
            {% endfor %}</tbody>

        </table>
    </div>
{% endblock %}