{% extends 'base.html' %}

{% block title %}{{ panels.panel_title }}{% endblock %}
{% block content %}

    {% if panels %}
        <h1>{{ panels.release.release_title }} {{ panels.release.project.project_number }}</h1>
        <h2>Panel number: <span class="text-primary">{{ panels.panel_title }}</span></h2>
        <h2>Panel information: </h2>
        <ul>
            <li>Quantity: {{ panels.panel_quantity }}</li>
            <li>dimentions: N/A</li>
        </ul>

    {% else %}
        Nothing here yet, but it is coming soon....
    {% endif %}

{% endblock %}