{% extends 'base.html' %}

{% block title %}{{ panels.panel_title }}{% endblock %}
{% block content %}

    {% if panel %}
        <h2>PN:
            <span class="text-primary">
            {{ panel.release.project.project_number }}-{{ panel.release.release_title }}-{{ panel.panel_title }}
            </span>
        </h2>
        <h1></h1>
        <h2>Panel information: </h2>
        <ul>
            <li>Quantity: {{ panel.panel_quantity }}</li>
            <li>dimentions: N/A</li>
        </ul>

    {% else %}
        Nothing here yet, but it is coming soon....
    {% endif %}

{% endblock %}