body {
    background: url("img/Facades_GeorgiaAquarium.jpg"), 100% 100% no-repeat;
    background-size: 100%, 100%;
}

.table td {
    padding: 2px;
    background: rgba(248, 249, 250, 0.9);
}

.table td:hover {
    box-shadow: 1px 1px 5px inset;
    cursor: pointer;
}

.column-width {
    width: 100px;
}

.bg-light {
    background: rgba(248, 249, 250, 0.9) !important;
}

.container-sm {
    background: rgba(248, 249, 250, 0.9);
    border: 1px solid gray;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

